body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: rgb(136, 74, 74);
    padding: 10px 12px;
    margin: 10px;
    display: inline-block;
}

nav a:hover {
    background-color: rgb(168, 102, 201);
}

img {
    width: 250px;
    margin-top: 15px;
}
