* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #c4b6b6;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #f874e2;
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-weight: 500;
}

nav a:hover {
    color: #000000;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background-color: #555555;
    color: white;
}

.hero p {
    margin-top: 15px;
    font-size: 18px;
}

.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 20px;
    background-color: white;
    color: #f874e2;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.btn:hover {
    background-color: #fdc7fd;
}


.about {
    text-align: center;
    padding: 60px 20px;
}

.about img {
    width: 250px;
    margin-top: 20px;
    border-radius: 10px;
}

footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px;
}

.about button {
    padding: 10px 20px;
    border: none;
    background-color: #f874e2;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.about button:hover {
    background-color: #c37deb;
}
